
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--content-->
<div class="content">
    <!--banner-bottom-->
    <div class="ban-bottom-w3l">
        <div class="container">
            <div class="col-md-6 ban-bottom">
                <div class="ban-top" >
                    <a href="@Url.Action("AllSanPham","SanPham")">
                        <img src="/Bootstrap/images/p1.jpg" class="img-responsive" alt="" />
                        <div class="ban-text">
                            <h4>Sản phẩm</h4>
                        </div>
                    </a>
                    
                   
                </div>
            </div>
            <div class="col-md-6 ban-bottom3">
                <div class="ban-top">
                    <a href="@Url.Action("SanPhamTreEm","SanPham")">
                        <img src="/Bootstrap/images/TREEM.jpg" class="img-responsive" alt="" />
                        <div class="ban-text1">
                            <h4>Trẻ em</h4>
                        </div>
                    </a>
                    
                </div>
                <div class="ban-img">
                    <div class=" ban-bottom1">
                        <div class="ban-top">
                            <a href="@Url.Action("SanPhamNam","SanPham")">
                                <img src="/Bootstrap/images/p1.jpg" class="img-responsive" alt="" />
                                <div class="ban-text1">
                                    <h4>Nam</h4>
                                </div>
                            </a>
                            
                        </div>
                    </div>
                    <div class="ban-bottom2">
                        <div class="ban-top">
                            <a href="@Url.Action("SanPhamNu", "SanPham")">
                                <img src="/Bootstrap/images/homenu.jpg" class="img-responsive" alt="" />
                                <div class="ban-text1">
                                    <h4>Nữ </h4>
                                </div>
                            </a>
                            
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--banner-bottom-->
   
 </div>  
    <!--Products-->

  
       
   


   <div class="product-agile">
    <div class="container">
         @Html.Action("LaySanPhamMoi", "Home")
        <div class="clearfix"></div>
    </div>
  
  
</div>
        
   

<!--content-->

