@model IEnumerable<ShopOnline.Models.RSSItem>

@{
    ViewBag.Title = "TinTucRSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<br />
<br />

<div class="container">
   
    <div style="font-family:'Times New Roman';font-size:20px">
        <h2 style="text-align: center; font-weight: bold; margin-top: -30px; font-family:'Times New Roman'; padding-bottom:20px">TIN TỨC MỚI NHẤT</h2>
        @foreach (var item in Model)
        {
            <div class="form-group col-md-6 col-md-offset-3" style="background-color:white">
                <h3><strong>@item.Title</strong></h3>
                <p>@Html.Raw(@item.Description)...<a href="@item.Link" target="_blank"><span> Xem thêm</span></a></p>
                <p>@item.PubDate</p>
            </div>
        }
    </div>
</div>