@using webmaylanh.Models
@model List<ItemGioHang>
@{
    ViewBag.Title = "ĐƠN ĐẶT HÀNG";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    #dathang {
        font-family: 'Times New Roman';
        text-align: center;
    }
</style>

<h1 id="dathang"> Thông tin giao hàng </h1>
@{
    KhachHang kh = (KhachHang)Session["TaiKhoan"];
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-10 col-md-offset-1" id="dathang">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-6" style="text-align:left !important">
                <div class=" form-group">
                    <b style="padding-left:20px">Tên khách hàng: </b>
                    <div class="col-md-12">
                        @kh.HoTen
                    </div>
                </div>
                <div class=" form-group">
                    <b style="padding-left:20px">Địa chỉ:</b>
                    <div class="col-md-12">
                        @kh.DiaChi
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="text-align:left !important">

                <div class="form-group">
                    <b style="padding-left:20px">Số điện thoại:</b>
                    <div class="col-md-12">
                        @kh.DienThoai
                    </div>
                </div>
                <div class="form-group">
                    <b style="padding-left:20px">Email:</b>
                    <div class="col-md-12">
                        @kh.Email
                    </div>
                </div>

                <div class="form-group">
                    <b style="padding-left:20px">Ngày giao hàng:</b>
                    <div class="col-md-12">
                        <input type="date" name="NgayGiao" />
                    </div>
                </div>

                <div class="form-group" style="text-align: left">
                    <b style="padding-left:20px">Ghi chú:</b>
                    <div class="col-md-12">
                        <input type="text" name="GhiChu" />
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8" style="padding-top:10px">
                        <input type="submit" value="Ghi thông tin" class="btn btn-primary" />
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-8" style="padding-top:10px;padding-bottom:50px">
                    @Html.ActionLink("Trở về", "XemGioHang")
                </div>
            </div>
        </div>
    </div>
}

