<<<<<<< HEAD
﻿<div id="divGioHang" class="cart">
    <a href="@Url.Action("XemGioHang", "GioHang")">
        <div class="total">
            @*@ViewBag.TongTien.ToString("#,##")*@ &nbsp; <span> @ViewBag.TongSoLuong </span> SP
        </div>
    </a>
    <div class="clearfix"> </div>
</div>
=======
﻿<div id="divGioHang" class="cart box_1">
    <a href="@Url.Action("Index", "GioHang")">
        <div class="total">
            @string.Format("{0:0,0 VNĐ}", @ViewBag.Tongtien).Replace(",", ".") &nbsp; <span> @ViewBag.Tongsoluong </span> sản phẩm
        </div>
   </a>
    
    @*<p><a href="@Url.Action("Index", "Cart")" class="simpleCart_empty">Giỏ Hàng</a></p>*@
    <div class="clearfix"> </div>
</div>
>>>>>>> origin/master
